* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 12px;
}

div.top-header {
    padding: 5%;
}

header {
    background-color: #EAC926;
}

header div.logo {
    width: 50%;
}

header div.logo {
    padding: 10px;
}

header nav {
    font-size: 12px;
}

header ul li {
    list-style-type: none;
}

header ul li a {
    text-decoration: none;
    color: #000;
}

header .form .input {
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .form .submit {
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

header div.top-header p {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

div.burger-menu {
    text-align: center;
}

div.burger-menu i {
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

.price {
    font-size: 18px;
    flex: 3;
}

.discount,
.description {
    font-size: 16px;
    font-weight: normal;

}

h3,
.description {
    color: #666;

}

.description {
    display: none;
    margin-top: 20px;
    flex: 10;



}

section.banner img {
    width: 100%;
}

main {
    width: 90%;
    margin: 0 auto;

}

main section article {
    background-color: #fff;
    margin: 10px 0px;
}

.product_img {
    width: 100%;
}

main section article i,
.discount {
    color: #39b54a;
    flex: 7;
}

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;

}

main section h3 {
    margin: 20px 0px;
}

article div.main-article {
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;


}

main section article .description:hover {
    display: block;
    background-color: red;
}

header nav {
    font-size: 12px;
    display: none;
}

@media (min-width: 361px) {
   .products{
    display: flex;
    flex-flow: wrap;
   }
   .item {
    background-color: red;
    -ms-flex-item-align: auto;
    flex: 4;
   }
   .item:hover{
    display: block;
    
    
    background-color: #EAC926;
   
   }

   

    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    header nav {
        display: block;
    }

    
}


@media (min-width: 769px) {

    .description {
        display: none;

    }



    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    header nav {
        display: block;
    }
}