* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
    font-family: "Roboto Condensed", sans-serif;
    background-color: #ebebeb;
}

.foot-pad {
    padding: 0 5 0 5;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 12px;
}

header {
    background-color: #EAC926;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

.contenedor-header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}



.logo {
    flex: 5;
    width: 14%;
    justify-content: center;
    align-self: center;
    padding: 1%;



}



.contenedor-busqueda {

    padding-top: 2%;
    justify-content: center;
    display: flex;
    flex: 5;

}

.input-busqueda {
    background-color: white;
    border: white solid 1vh;
    border-radius: 1vh;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0%;

}

.boton-buscar {
    background-color: white;
    border: white solid 1vh;
    border-radius: 1vh;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

nav {
    display: none;
}



div.burger-menu {
    text-align: center;
}

div.burger-menu i {
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

.price {
    font-size: 18px;
    flex: 3;
}

.discount,
.description {
    font-size: 16px;
    font-weight: normal;

}

h3,
.description {
    color: #666;

}

.description {
    visibility: hidden;
    margin: 20px;
    flex: 10;



}

section.banner img {
    width: 100%;
}

main {
    width: 90%;
    margin: 0 auto;

}

main section article {
    background-color: #fff;
    margin: 10px 0px;
}

.product_img {
    width: 100%;
}

main section article i,
.discount {
    color: #39b54a;
    flex: 7;
}

.camion {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;


}

.camion:hover {
    transform: rotateZ(-90deg);
    transition-duration: 1s;
}

main section h3 {
    margin: 20px 0px;
}

article div.main-article {
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;


}


.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item {
    margin: 10px;
    background-color: white;
    transition-property: all, 0, 5s;
}

.item:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);

}

.item:hover .description {
    visibility: visible;
}

footer {
    text-align: center;
    background-color: white;
}

footer section p i {
    font-size: 8vh;
}

.icons-blue {
    color: #1259c3;
    width: 2em;
    margin-top: 5vw;
}

.icons-blue:hover {
    color: gray;
    transition-duration: 0, 6s;
}

/*ESTILOS FORMULARIO REGISTRO*/
.formulario-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.registro-input {
    width: 80%;
    margin: 2vh;
    padding: 2vh;
    margin-bottom: 3vh;
    margin-top: 3vh;
    border-radius: 2vh;
    border: white solid;
}

.etiquetas-form {
    text-align: left;

}

.contenedor-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.p-form {
    font-size: medium;
    padding-bottom: 2vh;
}

.radios {
    padding: 2vh;
}

.checks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.intereses {
    display: flex;
    padding: 1%;
    flex-wrap: nowrap;
}

.espacio {
    padding-left: 1vh;
}

.botones-form {
    border: #1259c3 solid 1vh;
    border-radius: 1.5vh;
    background-color: #1259c3;
    color: white;
    flex-wrap: wrap;

}

.contenedor-botones {
    align-items: center;
    text-align: center;
    width: 82%;
    justify-content: space-between;
    padding: 2vh;
    

}


/*MEDIA QUERY*/
@media (min-width: 361px) {
    .item {
        width: 43%;
    }

    .burger-menu {
        display: none;
    }

    nav {
        display: block;
    }

    .nav-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .li-item {
        padding: 2vh;
    }

    .contenedor-header {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;

    }

    .logo {
        flex: 5;
        justify-content: center;

    }

    .contenedor-busqueda {
        flex: 5;
        justify-content: center;
        display: flex;
    }

    .header-compra-cuotas {
        justify-content: center;
        align-self: center;
        text-align: center;

    }




}


@media (min-width: 769px) {
    .item {
        width: 22%;
    }

    .contenedor-header {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;

    }

    .logo {
        flex: 2;
        justify-content: center;


    }

    .contenedor-busqueda {

        flex: 4;
        justify-content: center;
    }

    .header-compra-cuotas {
        flex: 4;
        justify-content: center;
        align-self: center;
        text-align: center;
    }


    .footer {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .footer-section {
        width: 30%;
        padding: 2vh;
    }

    .derechos {
        width: 100%;
        text-align: left;
        padding-left: 5vh;
    }

    .formulario-registro {
        width: 50%;

    }
}